body {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	background-color: #F9FAFF;
	background-image: url(../graphics/bodybg.gif);
	background-repeat: repeat-y;


}
td {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
}
input {
	font-size: 12px;
}
select {

	font-size: 12px;
}
textarea {

	font-size: 12px;
}
.f14 {
	font-size: 14px;

}
a:link {
	text-decoration: underline;
	color: #000000;
}
a:visited {
	color: #000000;
	text-decoration: underline;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}
a:active {
	color: #000000;
	text-decoration: underline;
}
.welcome {
	font-size: 14px;
	color: #FFFFFF;
}
.pagetop {
	background-color: #6DA6CE;
	background-image: url(../graphics/header.gif);
	background-repeat: no-repeat;
	background-position: right top;

}
.menuMain {
	font-size: 12px;
	background-color: #0025A2;
	color: #FFFFFF;
	background-image: url(../graphics/menu.gif);
	background-repeat: repeat-x;


}
.menuMain1 {
	font-size: 12px;
	color: #FFFFFF;

}
.menuBl1 {
	background-color: #FFFFFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;

}
.menuBl2 {

	background-color: #9ACC53;
}
.navMenu {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
	background-image: url(../graphics/lex.background.big.gif);
	background-repeat: no-repeat;
	background-position: right;
	padding-left: 10px;


}

.navText {
	font-size: 12px;
	color: #7D7D7D;
}
a.menuLink:link {
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
}
a.menuLink:visited {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
a.menuLink:hover {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
}
a.menuLink:active {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
a.menuLinkf:link {
	font-size: 12px;
	text-decoration: none;
	color: #000000;
}
a.menuLinkf:visited {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.menuLinkf:hover {
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
a.menuLinkf:active {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.pagefoot {
	font-size: 11px;
	color: #7E849D;
	background-color: #FFFFFF;

}
.pagefoot a:link{
	color: #7E849D;
	text-decoration: none;

}
.pagefoot a:visited{
	color: #7E849D;
	text-decoration: none;

}
.pagefoot a:hover{
	color: #7E849D;
	text-decoration: none;

}
.pagefoot a:active{
	color: #7E849D;
	text-decoration: none;

}
.pagefootTl {
	background-color: #706DB0;
}
.midTitle {
	font-size: 14px;
	font-weight: bold;
	color: #D61600;
}
.midTitleBlk {
	font-size: 14px;
	color: #000000;
}
.midTitleBl {
	background-color: #D61600;
}
.midTable1 {
	border: 1px solid #CCCCCC;

}
.midTable1td1 {
	background-color: #f1f1f1;
	text-align: center;
	color: #000000;
	background-image: url(../graphics/tablebg.gif);

}

.midTdRed {
	background-color: #FFB6C1;
	text-align: center;
	color: #000000;
}
.midTdBlue {
	background-color: #B0E0E6;
	text-align: center;
	color: #000000;
}

.midTable1td1 A:link,.midTable1td1 A:visited,.midTable1td1 A:hover,.midTable1td1 A:active{
	color:#000000;
}
.midTable1td2 {
	background-color: #F8F8F8;
	color: #444444;

}
.midTable1td2 A:link,.midTable1td2 A:visited,.midTable1td2 A:hover,.midTable1td2 A:active{
	color:#444444;
}
.midTable1td3 {
	background-color: #FFFFFF;
	text-align: right;


}
.midTable1td4 {
	background-color: #FFFFFF;
	background-image: url(../graphics/newsTitlebg.gif);



}
.inputTable {
	color: #000000;
	border: 1px solid #6DA6CE;
	padding: 2px;





}
.inputTable .inputHeader {
	font-weight: bold;
	color: #000F60;
	padding: 2px;


}
.inputTable .inputContent {
	color: #000000;
	padding: 2px;


}
.inputTable .inputTitle {
	color: #FFFFFF;
	background-color: #6DA6CE;
	font-weight: bold;
	padding: 7px 3px 3px;
	background-image: url(../graphics/h.gif);





}


.yrh {
	font-size: 12px;
	color: #4F61C5;
	background-image: url(../graphics/lex.background.big.gif);
	background-repeat: no-repeat;
	background-position: right;
	height: 17px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #706DB0;
	background-color: #FFFFFF;





}
.yrh a:link{
	font-size: 12px;
	color: #4F61C5;
	text-decoration: none;

}
.yrh a:visited{
	font-size: 12px;
	color: #4F61C5;
	text-decoration: none;

}
.yrh a:hover{
	font-size: 12px;
	color: #4F61C5;
}
.yrh a:active{
	font-size: 12px;
	color: #4F61C5;
}
.help {
	color:white;
	font-size:12px;
	padding: 2px;
	vertical-align: top;


}
.help a:link{
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;

}
.help a:visited{
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;

}
.help a:hover{
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;

}
.help a:active{
	font-size: 12px;
	color: #FFFFFF;
}

.navTexts {
	color: #000000;
}
.graybg {
	background-color: #666666;
}
.main {
	font-family: "Arial", "Helvetica", "sans-serif";




}
.mainright {
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}
.mainleft {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 0px;
}
.lmenutitle {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FFFFFF;

}
.lmenuitem TD {
	font-size: 12px;
	color: #000F60;
}
.lmenuitem A:link,.lmenuitem A:visited,.lmenuitem A:hover {
	color: #000F60;
	text-decoration: none;
}
.lmenuitem A.level1sel:link,.lmenuitem A.level1sel:visited,.lmenuitem A.level1sel:hover {
	color: #3B56E6;
	text-decoration: none;
}
.lmenuitem .level2 {
	text-indent: 1em;
	background-color: #FFFFFF;
}
.lmenuitem .level2sel {
	text-indent: 1em;
	font-weight: bold;
}
form {
	margin: 0px;
}
.button {
	color: #333333;
	border: 1px solid #666666;
	background-image: url(../graphics/bg.gif);



}
.text {
	background-color: #FFFFFF;
	border-top: 1px solid #525252;
	border-right: 1px solid #DDD9D2;
	border-bottom: 1px solid #DDD9D2;
	border-left: 1px solid #525252;

}

.clCMEvent{position:absolute; z-index:300; width:100%; height:100%; clip:rect(0,100%,100%,0); left:0; top:0; visibility:hidden}
.clCMAbs{position:absolute; width:10; height:10; left:0; top:0; visibility:hidden}
.clT,.clTover{
	position:absolute;
	overflow:hidden;
	width:130;
	height:28;
	cursor:pointer;
	cursor:hand;
	font-family: "ו";
}
.clS,.clSover,.clS2,.clS2over{position:absolute; overflow:hidden; width:130; height:26; cursor:pointer; cursor:hand;	font-family: "ו";}
.clT,.clTover{
	font-size:12px;
	text-align: center;
	margin-right: 2px;
	padding-top: 3px;
	border-right: solid 1px #bbbbbb;
}
.clT {
	color:#000000;
}   
.clTover{
	color:#000000;
	background-color:#FFFFFF;
}
.clS,.clSover{padding:3px; font-size:12px;margin-left:1px;}
.clS2,.clS2over{padding:3px; font-size:12px;margin-left:1px;}
.clS,.clS2{color:#000000; background-color:#FFFFFF; layer-background-color:#FFFFFF;}
.clSover,.clS2over{color:black;layer-background-color:#DDDDDD; background-color:#DDDDDD;}
.clBS{position:absolute; visibility:hidden; z-index:300; layer-background-color:#FFFFFF; background-color:#FFFFFF;
border: 1px solid #BBBBBB;
}
.clB{position:absolute; visibility:hidden; z-index:300}

.newsbox .newstitle{
	background-image: url(../graphics/news.background.gif);
	background-repeat: no-repeat;
	background-position: right;
	color: #5E6798;
	font-weight: bold;
	font-size: 11px;
}
.newsbox a:link{
	color:#1A2872;
	text-decoration: none;
	font-size: 11px;
}
.newsbox a:visited{
	color:#1A2872;
	text-decoration: none;
	font-size: 11px;
}
.newsbox a:hover{
	color:#848ABD;
	text-decoration: none;
	font-size: 11px;
}
.newsbox a:active{
	color:#1A2872;
	text-decoration: none;
	font-size: 11px;
}
.maincontent {
	font-family: "Arial", "Helvetica", "sans-serif";
	background-color: #FFFFFF;


}
.width100 {
	width: 100%;
}
.homeLoginBar {
	background-color: #F5F6FB;
	background-image: url(../graphics/home1bg.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}
hr {
	color: #000F60;
	height: 1px;
}
.footerline {
	background-image: url(../graphics/foot_2.gif);
	height: 5px;

}
.bodya {
	background-image: none;
}
